 body {
   background-color: #1b1b1c;
   font-family: 'Mina', sans-serif;
   margin: 0;
 }

.no-margin {
  margin-bottom: 0px;
}

.text-center {
  text-align: center;
}

 .square {
   width: 30%;
   background-color: white;
   padding-bottom: 30%;
   float: left;
   margin: 1.66%;
   border-radius: 15px;
 }

 #grid {
   max-width: 600px;
   margin: 0 auto;
 }

 #gamePanel{
   color: white;
   background-color: #0b3954;
   width: 100%;
   padding: 5px 0px 25px 0px;
 }

#colorDisplay{
  text-transform: uppercase;
  font-size: 3em;
  margin: 0px;
}

#controlPanel{
  background-color: #bfd7ea;
  height: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.selected {
  background-color: blue;
}
