 body {
   background-color: black;
 }

.text-center {
  text-align: center;
}

 .square {
   width: 30%;
   background-color: white;
   padding-bottom: 30%;
   float: left;
   margin: 1.66%;
   border-radius: 15px;
 }

 #grid {
   max-width: 600px;
   margin: 0 auto;
 }

 #gamePanel{
   color: white;
   background-color: yellow;
 }

#colorDisplay{
  text-transform: uppercase;
}

#controlPanel{
  background-color: white;
  height: 30px;
  text-align: center;
}

.selected {
  background-color: blue;
}
